.app-container {
    color: white;
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    scrollbar-width: auto;
    /*Actually don't use this. It's causing a bunch of problems.*!*/
    /*&::-webkit-scrollbar { !*This is for chrome.*!*/
    /*display: flex;*/
    /*margin-top: 500px;*/
  /*}*/
}

.particle-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    animation: fadeIn 8s ease forwards;
}

.component-container {
    position: relative;
}